html,body,#main{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;

}

.tab02,.tab02 tr th,.tab02 tr td{
    border: 1px solid #ccc;
    /*font-size: 16px;*/
    text-align: center;
}
.tab02 tr td{
    height: 40px;
}
.col-md-3{
    margin-top: 0.6rem;
}
.alerts{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: .3s;
}

table tbody tr td{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
a{
    cursor: pointer;
}
.icon{
    width: 16px;
    height: 16px;
    vertical-align: .1rem;
}
.icon-hide{
    width: 16px;
    height: 16px;
    vertical-align: .1rem;
    opacity: 0;
    transition: .3s;
}
.header{
    height: 10%;
}
.center{
    margin: 0 auto;
}
.panel{
    border: 1px solid #ebeef5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.panel-header{
    width: 100%;
    padding: 18px 20px;
    border-bottom: 1px solid #ebeef5;
    font-weight: 600;
    font-size: 1.1rem;
}
.panel-main{
    width: 100%;
    height: auto;
    min-height: 55px;
    padding: 20px;
}
.panel-row{
    display: flex;
    align-items: center;
    justify-content: start;
}
#iframe{
    transition: .3s;
    opacity: 1;
}
#document > html{
    padding: 0 10px;
}
.top-toolbar{
    width: 100%;
    height:4rem;
    line-height: 4rem;
    align-items: center;
    /*background-color: #fff;*/
    margin: 0;
    /*border-radius: 2px;*/
    /*box-shadow: 0 0 2px rgba(0,0,0,.5);*/
    /*padding-top: 1rem;*/
}
.table-div{
    width: 100%;
    background-color: #fff;
    margin-top: .5rem;
    padding: .5rem;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    border-radius: 2px;
}
#table-toolbar{
    opacity: 1;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -0.05rem;
}
table{
    table-layout: fixed;
    transition: .3s;
    white-space: nowrap;
}
.form-control{
    color: #000;
}
.table thead th{
    border: none;
}
#table tr {
    cursor: pointer;
}
.modal-body{
    overflow-y: scroll;
    max-height: 25rem;
}
.modal-body::-webkit-scrollbar{
    width: 6px;
}
.modal-body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #f2f2f2;
}
.modal-body::-webkit-scrollbar-track {
    background-color: #ffffff;
}
.pagination-detail{
    display: none;
}
.bg{
    padding-top: 60px;
    margin: 0;
}
.bg-image{
    /**
    no-repeat:背景图片不平铺
    repeat:背景图片平铺
     */
    background: url("../img/bangong.jpg") center fixed;
    background-size: cover;

}
.log-image{
    background: url("../img/dlbg.jpg") center fixed;
    background-size: cover;
}
@keyframes blink {
    0% {
        text-shadow: none;
    }
    10% {
        text-shadow: 0 0 10px #fff;
    }
    20% {
        text-shadow: 0 0 10px #fff;
    }
    30% {
        text-shadow: 0 0 10px #fff;
    }
    40% {
        text-shadow: 0 0 10px #fff;
    }
    50% {
        text-shadow: 0 0 20px #fff;
    }
    60% {
        text-shadow: 0 0 20px #fff;
    }
    70% {
        text-shadow: 0 0 20px #fff;
    }
    80% {
        text-shadow: 0 0 30px #fff;
    }
    90% {
        text-shadow: 0 0 30px #fff;
    }
    100% {
        text-shadow: none;
    }
}
.col-md-5{
    /*text-shadow: h-shadow v-shadow blur-radius color;*/
    color: white;
    /*text-shadow: 0 0 10px white,0 0 20px white,0 0 30px white;*/
    animation: blink 2s infinite;
}
.stamp-a{
    color: grey;
    font-size: 12px;
    text-align: center;
}

.table-head {
    color: #4d96e0;
    height: 60px;
}
/*#select-btn{*/

/*    margin-left: 0.2rem;*/
/*}*/
/*#refresh-btn{*/
/*    width: 5rem;*/
/*    margin-left: -2rem;*/
/*    margin-top: -0.5rem;*/
/*}*/
/*#add-btn{*/
/*    margin-top: -0.5rem;*/
/*    width: 8rem;*/
/*    margin-right: 2rem;*/
/*    margin-left: 35rem;*/
/*}*/
/*#biaoqian{*/

/*    margin-left: 0.2rem;*/
/*}*/
#dropdownMenu1{

}