<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单列表</title>
    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>


    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/icons/bootstrap-icons.css">-->
    <script type="text/javascript" src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-tagsinput.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-tagsinput.css">

    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/form_list.js"></script>
</head>

<body class="pt-2">


<div id="table-toolbar" >
    <div class="top-toolbar row" style="width: 50%">
        <div class="col-md-3 mb-2">
            <input id="query" type="text" class="form-control" placeholder="表单名称" autocomplete="off">
        </div>
        <div class="col-md-2 mb-2" >
            <button id="select-btn" class="btn btn-info">
                <i class="glyphicon glyphicon-search"></i>
                查询
            </button>

        </div>

    </div>
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-default">
            <i class="	glyphicon glyphicon-repeat"></i>
            刷新
        </button>
        <button id="update-btn" class="btn btn-default">
            <i class="	glyphicon glyphicon-pencil"></i>
            修改
        </button>
        <button id="add-btn" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i>
            创建表单
        </button>

<!--        <button id="delete-btn" class="btn btn-default">-->
<!--            <i class="bi bi-trash icon"></i>-->
<!--            删除-->
<!--        </button>-->
<!--        <a id="biaoqian" class="btn btn-default" style="padding-top: 8px">当前页：表单列表</a>-->
    </div>
</div>

<div class="table-div border-top">
    <table id="labelTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">添加</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-formName">表单名称</label>
                        <input id="add-formName" name="formName" type="text" class="form-control" autocomplete="off" style="width:100%">
                    </div>
                    <div class="form-group">
                        <label for="add-formType">表单类型</label>
                        <input id="add-formType" name="formType" type="text" class="form-control" autocomplete="off" style="width:100%">
                    </div>
                    <div class="form-group">
                        <label for="add-formState">表单状态</label>
                        <select id="add-formState" name="formState" class="form-control">
                            <option  value="可收集">可收集</option>
                            <option  value="不可收集">不可收集</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-info">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-info left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-formName">表单名称</label>
                        <input id="update-formName" name="formName" type="text" class="form-control" autocomplete="off" style="width:100%">
                    </div>
                    <div class="form-group">
                        <label for="update-formType">表单类型</label>
                        <input id="update-formType" name="formType" type="text" class="form-control" autocomplete="off" style="width:100%">
                    </div>
                    <div class="form-group">
                        <label for="update-formState">表单状态</label>
                        <select id="update-formState" name="formState" class="form-control">
                            <option  value="可收集">可收集</option>
                            <option  value="不可收集">不可收集</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>