<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>云合信息采集系统</title>

  <script type="text/javascript" src="../js/Jquery.js"></script>
  <script type="text/javascript" src="../js/jquerysession.js"></script>
  <!--bootstrap-->
  <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
  <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
  <!--bTabs-->
  <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/b.tabs.css">
  <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/b.tabs.js"></script>
  <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/jquery-ui-1.10.3.custom.min.js"></script>

  <link rel="stylesheet" href="../css/main.css">
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/closable-tab-div.js"></script>

  <style>
    .navbar-nav > li > a {
      padding-top: 4px;
      padding-bottom: 0;
      height: 28px;
      margin-top: 20px;
    }

    .navbar {
      min-height: 20px;
      display: flow-root;
    }
  </style>
</head>
<body style="padding-left: 180px;margin: 0" class="row">
<nav class="navbar navbar-dark  bg-dark" style="width: 100%;height:100%;position: absolute;top: 0;left: 0;">
  <ul class="navbar-nav mr-auto">
    <!--href="main.html"-->
    <span class="navbar-brand" style="font-size: 1rem;line-height: 30px">
<!--            <img src="../img/logo.png" width="20" height="20" class="d-inline-block align-top rounded" alt=""/>-->
            <img src="../img/1.png" width="30px" height="30px" style="margin-top: -10px">
            信息采集系统
        </span>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dataNavbarDropdown1" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../img/公司(1).png" width="20px" height="20px" style="margin-top: -4px">
        <div style="width: 5px;height: 5px;display: inline-block"></div>
        基础设置
      </a>
      <div class="dropdown-menu" aria-labelledby="dataNavbarDropdown" style="width:15%;font-size: 14px">
        <a class="dropdown-item" data-src="person-management.html"><img src="../img/新员工(1).png" width="20px" height="20px" style="margin-top: -4px"> <div style="width: 5px;height: 5px;display: inline-block"></div>账号管理</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dataNavbarDropdown2" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../img/电脑(1).png" width="20px" height="20px" style="margin-top: -4px"> <div style="width: 5px;height: 5px;display: inline-block"></div>
        表单相关
      </a>
      <div class="dropdown-menu" aria-labelledby="dataNavbarDropdown" style="width:15%;font-size: 14px">
        <a class="dropdown-item" data-src="form_list.html"><img src="../img/福利(1).png" width="20px" height="20px" style="margin-top: -4px"> <div style="width: 5px;height: 5px;display: inline-block"></div>表单列表</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-src="">v1.0.0</a>
    </li>

  </ul>
</nav>

<div class="embed-responsive embed-responsive-1by1 h-100">
  <iframe id="iframe" class="embed-responsive-item" src="main-item.html"></iframe>
</div>


</body>
<script type="text/javascript">
  $(function () {
    $('a').click(function () {
      let src = $(this).data('src');
      if (src != '' && src != undefined) {
        $('#iframe').attr('src', src);
        if ($('#navbarSupportedContent').hasClass('show')) {
          $('.navbar-toggler').click();
        }
      }
    })
  })
</script>
</html>