    <!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云合信息采集系统</title>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script  type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <script  type="text/javascript" src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <style>
    .navbar-header:hover{
        cursor: pointer;
    }
    .nav navbar-nav li a:hover{
        cursor: pointer;
    }

    </style>
</head>
<body style=" margin: 0" class="row">
 <nav class="navbar navbar-default navbar-fixed-top"  class="navbar navbar-dark  bg-dark" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header" >
                <img src="../img/1.png" width="30" height="30" style="float:left;margin-top:8px; margin-right:10px"> <a class="navbar-brand"  data-src="main-item.html">云合未来信息采集系统</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li ><a data-src="form_list.html">表单</a></li>
                    <li ><a href="#" >联系人</a></li>
                    <li ><a href="#">小程序</a></li>
                    <li style="float: left; width: 400px ;margin-top: 8px;margin-left:100px;margin-right: 250px" >
                        <form class="bs-example bs-example-form" role="form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn">
						            <button class="btn btn-default" type="button">搜索</button>
					                </span>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            个人中心 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"  data-src="person-management.html">账号管理</a></li>
                            <li><a href="#">会员中心</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li class="divider"></li>
                            <li><a href="#">更换账号</a></li>
                            <li class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</nav>


<div class="embed-responsive embed-responsive-1by1 h-100" style="position: absolute;top:50px;width: 1350px;height: 560px">
    <iframe id="iframe" class="embed-responsive-item" src="main-item.html" width="1350" height="560"></iframe>
</div>


</body>
<script type="text/javascript">
    $(function () {
        $('a').click(function () {
            let src = $(this).data('src');
            if (src != '' && src != undefined) {
                $('#iframe').attr('src', src);
                if ($('#navbarSupportedContent').hasClass('show')) {
                    $('.navbar-toggler').click();
                }
            }
        })
    })

</script>
</html>