<!DOCTYPE html>
<html>
<head>
    <title>jQuery拖拽表单元素布局插件</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/fileinput.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="../form_builder/animate.min.css" rel="stylesheet">
    <link href="../form_builder/summernote.css" rel="stylesheet">

    <link href="../css/rating_star.css" rel="stylesheet">

    <link href="../form_builder/style.min862f.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index2.css">
    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/fileinput.min.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/distpicker.data.min.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/distpicker.min.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/zh.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/jquery-ui.min.js"></script>
    <script src="../form_builder/beautifyhtml.js"></script>
    <script type="text/javascript" src="../js/rating_star.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script src="../js/randomText.js"></script>

</head>
<body style="background-color:#f7f5f6;">
<input type="file" id="pic_file" style="display: none">
<div class="container-fluid" style="padding:0px; margin:0px;">
    <div class="row-fluid clearfix">
        <div class="col-md-12 column">
            <div style="width:1080px; margin:0 auto; margin-top:20px;">
                <div class="conference-cont" style=" margin-top:20px;">
                    <div class="set-til col-md-10" style="text-align:center;color: #000000"><span id="head_title" style="padding-left:10px;"></span></div>
                    <div class="wrapper wrapper-content" style="margin-top: 55px;">
                        <div class="row" style="border-left: 2px dashed rgba(0,0,0,0.12);border-right: 2px dashed rgba(0,0,0,0.12);border-bottom: 2px dashed rgba(0,0,0,0.12);">
                            <div id="colzuo" class="col-sm-9" style="border-right: 2px dashed rgba(0,0,0,0.12);">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5 id="title">拖拽/点击右侧表单项到此区域</h5>
                                        <div class="ibox-tools">
                                            <button type="submit" class="btn btn-warning" data-clipboard-text="testing" id="copy-to-clipboard">保存表单</button>
                                            <button type="button" class="btn btn-yulan">预览</button>
                                            <button type="submit" class="btn btn-warning" data-clipboard-text="testing" id="back">返回</button>
<!--                                            <button type="button" class="btn btn-warning" data-clipboard-text="testing" id="head_insert">添加表头背景</button>-->
<!--                                            <button type="button" class="btn btn-warning" data-clipboard-text="testing" id="head_delete">清除表头背景</button>-->
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row form-body form-horizontal m-t">
                                            <div class="col-md-12 droppable sortable ui-droppable ui-sortable">
                                                <div class="form-group draggable ui-draggable dropped">
                                                    <img></img>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="colyou" class="col-sm-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>拖拽/点击下方控件添加到表单中</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <form role="form" class="form-horizontal m-t">
                                            <p><b>常用项</b></p>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <button type="button" class="btn btn-warning" data-clipboard-text="testing" id="head_insert">添加表头背景</button>
                                                    </td>
                                                    <td>
                                                        <button style="margin-left: 10px" type="button" class="btn btn-warning" data-clipboard-text="testing" id="head_delete">清除表头背景</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button type="button" class="btn btn-warning" data-clipboard-text="testing" id="body_insert">添加表单背景</button>
                                                    </td>
                                                    <td>
                                                        <button style="margin-left: 10px" type="button" class="btn btn-warning" data-clipboard-text="testing" id="body_delete">清除表单背景</button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <p><b>自定义项</b></p>
                                            <div id="text" class="form-group draggable ui-draggable btntext">
                                                <label class="col-sm-12"><i class="fa fa-arrows"></i> 文本框 <img src="../img/add_form_img01.png"></label>
                                            </div>
                                            <div id="select" class="form-group draggable ui-draggable btntext">
                                                <label class="col-sm-12"><i class="fa fa-arrows"></i> 下拉框 <img src="../img/add_form_img05.png"></label>
                                            </div>
                                            <div id="radio" class="form-group draggable ui-draggable btntext">
                                                <label class="col-sm-12"><i class="fa fa-arrows"></i> 单选 <img src="../img/add_form_img03.png"></label>
                                            </div>
                                            <div id="checkbox" class="form-group draggable ui-draggable btntext">
                                                <label class="col-sm-12"><i class="fa fa-arrows"></i> 多选 <img src="../img/add_form_img04.png"></label>
                                            </div>
                                            <div id="textarea" class="form-group draggable ui-draggable btntext">
                                                <label class="col-sm-12"><i class="fa fa-arrows"></i> 多行文本 <img src="../img/add_form_img02.png"></label>
                                            </div>
                                            <div id="datetime" class="form-group draggable ui-draggable btntext">
                                                <label class="col-sm-12"><i class="fa fa-arrows"></i> 时间 <img src="../img/add_form_img06.png"></label>
                                            </div>
                                            <div id="file" class="form-group draggable ui-draggable btntext">
                                                <label class="col-sm-12"><i class="fa fa-arrows"></i> 上传 <img src="../img/add_form_img07.png"></label>
                                            </div>
                                            <div id="picker" class="form-group draggable ui-draggable btntext">
                                                <label class="col-sm-12"><i class="fa fa-arrows"></i> 省市区 <img src="../img/add_form_img08.png"></label>
                                            </div>
                                            <div id="pingfen" class="form-group draggable ui-draggable btntext">
                                                <label class="col-sm-12"><i class="fa fa-arrows"></i> 评分 <img src="../img/add_form_img09.png"></label>
                                            </div>
                                        </form>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>