<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云合信息采集系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script type="text/javascript" src="js/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript">
        var user = document.getElementById('user'),
            pass = document.getElementById('pwd'),
            check = document.getElementById('remember'),
            localUser = localStorage.getItem('user') || ''; //获取到user的值并保存
        localPass = localStorage.getItem('pass') || ''; //获取到pwd的值并保存
        user.value = localUser;
        pass.value = localPass;
        if (localUser !== '' && localPass !== '') {
            check.setAttribute('checked', '');
        }

        function fn() {
            if (check.checked) {
                localStorage.setItem('user', user.value);
                localStorage.setItem('pass', pass.value);
            } else {
                localStorage.setItem('user', '');
                localStorage.setItem('pass', '');
            }
        }
    </script>

</head>
<body class="log-image" style="margin: 0" >
<div>版本号：5.1.0.9</div>
<div class="row justify-content-center">
    <div class="col-md-7" style="padding-top: 5rem;font-weight: bold;text-align: center;color: #000000;font-size: 3rem;">
        <img src="img/1.png" width="100px" height="100px" style="margin-top: -20px">
        云合信息采集系统
    </div>
</div>
<div class="row justify-content-center" style="margin-top: 30px;">
    <div class="panel col-md-5" style="background-color: rgba(77,150,224,0.3);">
        <div class="panel-main">
            <form id="login-form">
                <div class="form-group">
                    <label for="company" style="color: white">公司</label>
                    <select id="company" name="company" type="text" class="form-control" autocomplete="off" required>
                    </select>
                    <div class="invalid-feedback">
                        请输入公司！
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" style="color: white">用户名</label>
                    <input id="username" name="username" type="text" class="form-control" autocomplete="off" required>
                    <div class="invalid-feedback">
                        请输入用户名！
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" style="color: white">密码</label>
                    <input id="password" name="password" type="password" class="form-control" autocomplete="off" required>
                    <div class="invalid-feedback">
                        请输入密码！
                    </div>
                </div>


            </form>
            <div style="margin-left: 100px">
                <label for=""><input type="checkbox" id="check"><a style="color: white">7天免登陆</a></label>
                <button id="submit-btn" class="btn btn-primary" style="width: 90px;margin-left: 100px">
                    <i class="bi bi-person-fill icon"></i>
                    登陆
                </button>
            </div>
        </div>
    </div>
</div>
<div style="width: 600px;margin-left:395px;margin-top: 30px">
    <a href="http://yhocn.cn/" style="font-size: medium;color: white;text-align: center">
        云合未来计算机技术有限公司 © Copyright 2018-2030 版权所有 All rights reserved</a>
    <a href="http://yhocn.cn/" style="font-size: medium;color: white;text-align: center;display: block">
        联系电话：16619776280
        技术支持 www.yhocn.cn</a>
</div>
</body>
</html>
