body{
    padding: 0px;
    margin: 0px;
}
#taitou{
    width: 100%;
    height: 45px;
    background-color: #000000;

}

#zuomian{
    position: absolute;
    top: 60px;
    left: 15px;
    background-color: #F0F0F0;
    width: 240px;
    height: 450px;
}

#reqs{
    position: absolute;
    top: 10px;
    left: 24px;
    background-color: #FFFFFF;
    width: 750px;
    height: 500px;

}
#cece{
    width: 750px;
    height: 50px;
    background-color: #003D79;
}
#crcr{
    position: absolute;
    top: 10px;
    left: 330px;
    color: #FFFFFF;
    font-size: 24px;
}

#cscs{
    width: 800px;
    height: 600px;
    position: absolute;
    top: 60px;
    left: 265px;
    background-color: #c8cbcf;
}
#zuo1{
    width: 240px;
    height: 30px;
    background-color: #0066CC;
    color: #FFFFFF;
    font-size: 13px;

}
#xiamian{
    width: 240px;
    height: 100px;
    background-color: #FFFFFF;
    position: absolute;
    top: 515px;
    left: 15px;
}
#xia1{
    width: 240px;
    height: 30px;
    background-color: #0066CC;
    color: #FFFFFF;
    font-size: 13px;

}
#xia2{
    position: absolute;
    top: 5px;

}
#youxia{
    background-color: #FFFFFF;
    width: 263px;
    height: 115px;
    position: absolute;
    left: 1071px;
    top: 92px;
    border: 1px solid #95999c;

}
#youxiaxia{
    width: 263px;
    height: 85px;
    background-color: #FFFFFF;
    position: absolute;
    left: 1072px;
    top: 453px;
}
#xiaxia{
    width: 263px;
    height: 50px;
    background-color: #0066CC;
    position: absolute;
    left: 1072px;
    top: 538px;

}
#zuixia{
    width: 263px;
    height: 30px;
    background-color: #FFFFFF;
    position: absolute;
    left: 1072px;
    top: 588px;
}
#www1{
    position: absolute;
    left: -12px;

}
#www2{
    position: absolute;
    left: 18px;
    top: 3px;
    font-size: 12px;

}
#www3{
    position: absolute;
    left: 36px;
    top: 3px;
    font-size: 12px;

}
#zuixia1{
    color: #5a6268;
    font-size: 15px;
    position: absolute;
    top: 11px;
    left: 5px;
}
#xiaxia1{
    width: 50px;
    height: 30px;
    background-color: #FFFFFF;
    position: absolute;
    left: 13px;
    top: 20px;
}
#xiaxia2{
    position: absolute;
    left: 10px;
    top: 5px;

    font-size: 14px;


}
#xiaxia3{
    position: absolute;
    left: 83px;
    top: 22px;
}

#xiaoxiao03{
    text-decoration: none;
    color: #FFFFFF;


    font-size: 14px;
}
#xiaoxiao02{
    text-decoration: none;
    color: #0066CC;

}
#youxiaxia1{
    position: absolute;
    left: 8px;
    top: 10px;
    color: #5a6268;
    font-size: 15px;
}
#youxiaxia2{
    position: absolute;
    left: 98px;
    top: 2px;

}
#youxiaxia3{
    position: absolute;
    left: 8px;
    top: 50px;
    color: #5a6268;
    font-size: 15px;
}
#youxiaxia4{
    position: absolute;
    left: 98px;
    top: 42px;

}

#youxiaa{
    background-color: #FFFFFF;
    width: 263px;
    height: 245px;
    position: absolute;
    left: 1071px;
    top: 206px;
    border: 1px solid #95999c;

}
#youxiaa8{
    position: absolute;
    left: 8px;
    top: 222px;
    color: #5a6268;
    font-size: 10px;

}
#youxiaa1{
    position: absolute;
    left: 5px;
    top: 18px;
    color: #000000;
    font-size: 13px;
}

#youxiaa01{
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: 2px;
}
#youxiaa2{
    position: absolute;
    left: 5px;
    top: 48px;
    color: #000000;
    font-size: 13px;
}
#youxiaa002{
    position: absolute;
    /*left: 25px;*/
    top: 32px;
}

#youxiaa02{
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: 32px;
}
#youxiaa5{
    position: absolute;
    left: 5px;
    top: 108px;
    color: #000000;
    font-size: 13px;
}
#youxiaa005{
    position: absolute;
    /*left: 25px;*/
    top: 122px;
}

#youxiaa05{
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: 122px;
}
#youxiaa3{
    position: absolute;
    left: 5px;
    top: 78px;

    font-size: 13px;
}
#youxiaa003{
    position: absolute;
    /*left: 25px;*/
    top: 62px;

}

#youxiaa03{
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: 62px;
    color: #95999c;
}
#youxiaa6{
    position: absolute;
    left: 5px;
    top: 138px;

    font-size: 13px;
}
#youxiaa006{
    position: absolute;
    /*left: 25px;*/
    top: 152px;

}

#youxiaa06{
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: 152px;
    color: #95999c;
}
#youxiaa4{
    position: absolute;
    left: 5px;
    top: 108px;

    font-size: 13px;
}
#youxiaa004{
    position: absolute;
    left: 3px;
    top: 92px;
    width: 17px;
    height: 17px;
    background-color: #97CBFF;
    border-radius: 10px;

}
#youxiao0004{
    position: absolute;
    left: 6.5px;
    color: #FFFFFF;
    font-size: 10px;
}

#youxiaa04{
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: 92px;
    color: #95999c;
}

#youxiaa7{
    position: absolute;
    left: 5px;
    top: 108px;

    font-size: 13px;
}
#youxiaa007{
    position: absolute;
    left: 3px;
    top: 182px;
    width: 17px;
    height: 17px;
    background-color: #97CBFF;
    border-radius: 10px;

}
#youxiao0007{
    position: absolute;
    left: 6.5px;
    color: #FFFFFF;
    font-size: 10px;
}
#youx07{
    position: absolute;
    left: 205px;
    top: 182px;
    font-size: 10px;
    text-decoration: none;
    color: #17a2b8;
}

#youxiaa07{
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: 182px;
    color: #95999c;
}
#youxia1{
    position: absolute;
    left: 7px;
    top: 8px;
    color: #95999c;
    font-size: 15px;

}
#youxia2{

    position: absolute;
    left: 77px;
    top: 8px;
    color: #000000;
    font-size: 15px;
    border-bottom:  1px solid #95999c;
    width: 180px;

}
#youxia3{
    position: absolute;
    left: 5px;
    top: 48px;
    color: #000000;
    font-size: 15px;
}
#youxia4{
    position: absolute;
    left: 7px;
    top: 95px;
    color: #5a6268;
    font-size: 12px;

}
#zuo2{
    position: absolute;
    top: 5px;

}
#you2{
    position: absolute;
    top: 5px;

}
#crce{
    width: 120px;
    height: 35px;
    background-color: #003D79;
    position: absolute;
    top: 450px;
    left: 322px;

}
#crct{
    position: absolute;
    left: 45px;
    top: 5px;
    text-decoration: none;
    color: #FFFFFF;
}
#you1{
    width: 265px;
    height: 30px;
    background-color: #0066CC;
    color: #FFFFFF;
    font-size: 13px;
    position: absolute;
    top: 61px;

    left: 1070px;
}
#css22{


    position: absolute;
    top: 41px;
    left: 13px;
    font-size: 13px;

}
#css233{
    position: absolute;
    top: 1px;
    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px;

}
#css234{
    position: absolute;
    /*top: 1px;px*/
    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px;
}
#css235{
    position: absolute;
    /*top: 1px;*/
    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px;
}
#css236{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px

}
#css237{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css238{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css239{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css240{
    position: absolute;

    left: 15px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px

}
#css241{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css242{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css243{
    position: absolute;
    top: 7px;

    left: 22px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css244{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css246{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css247{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css248{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css249{
    position: absolute;

    left: 17px;

    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#css245{
    position: absolute;

    left: 17px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px
}
#xia21{
    position: absolute;

    left: 15px;
    top: 5px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px

}
#xia22{
    position: absolute;

    left: 13px;

    /*font-size: 13px;*/
    width: 10px;
    height: 10px

}
#xia23{
    position: absolute;

    left: 15px;
    top: 3px;
    /*font-size: 13px;*/
    width: 10px;
    height: 10px

}
#css11{
    position: absolute;
    top: 35px;
    left: 10px;
    border: 1px solid #a9a9a9;
    width: 70px;
    height:60px;
    background-color: #FFFFFF;
}
#css44{


    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css33{
    position: absolute;
    top: 35px;
    left: 82.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#xia12{


    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#xia11{
    position: absolute;
    top: 35px;
    left: 10px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#xia14{


    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#xia13{
    position: absolute;
    top: 35px;
    left: 82.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#xia16{


    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#xia15{
    position: absolute;
    top: 35px;
    left: 159.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css66{


    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css55{
    position: absolute;
    top: 35px;
    left: 159.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css88{


    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css77{
    position: absolute;
    top: 96px;
    left: 10px;
    border: 1px solid #a9a9a9;
    width: 70px;
    height:60px;
    background-color: #FFFFFF;
}
#css18{


    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css17{
    position: absolute;
    top: 96px;
    left: 82.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css20{


    position: absolute;
    top: 40px;
    left: 22px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css19{
    position: absolute;
    top: 96px;
    left: 159.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css222{


    position: absolute;
    top: 40px;
    left: 22px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css21{
    position: absolute;
    top: 157px;
    left: 82.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css26{


    position: absolute;
    top: 40px;
    left: 22px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css25{
    position: absolute;
    top: 218px;
    left: 82.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css28{


    position: absolute;
    top: 40px;
    left: 22px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css27{
    position: absolute;
    top: 218px;
    left: 159.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css30{


    position: absolute;
    top: 40px;
    left: 22px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css29{
    position: absolute;
    top: 279px;
    left: 82.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css24{


    position: absolute;
    top: 40px;
    left: 22px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css23{
    position: absolute;
    top: 157px;
    left: 159.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css10{


    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css99{
    position: absolute;
    top: 157px;
    left: 10px;
    border: 1px solid #a9a9a9;
    width: 70px;
    height:60px;
    background-color: #FFFFFF;
}
#css12{


    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css111{
    position: absolute;
    top: 218px;
    left: 10px;
    border: 1px solid #a9a9a9;
    width: 70px;
    height:60px;
    background-color: #FFFFFF;
}
#css14{


    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;


}
#css13{
    position: absolute;
    top: 279px;
    left: 10px;
    border: 1px solid #a9a9a9;
    width: 70px;
    height:60px;
    background-color: #FFFFFF;
}
#css16{


    position: absolute;
    top: 40px;
    left: 13px;
    font-size: 10px;
    text-decoration: none;
    color: #000000;


}
#css15{
    position: absolute;
    top: 345px;
    left: 10px;
    border: 1px solid #a9a9a9;
    width: 70px;
    height:60px;
    background-color: #FFFFFF;
}
#css32{


    position: absolute;
    top: 40px;
    left: 13px;
    font-size: 10px;
    text-decoration: none;
    color: #000000;


}
#css333{
    position: absolute;
    top: 345px;
    left: 159.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}
#css34{


    position: absolute;
    top: 40px;
    left: 13px;
    font-size: 10px;
    text-decoration: none;
    color: #000000;


}
#css31{
    position: absolute;
    top: 345px;
    left: 82.4px;
    border: 1px solid #a9a9a9;
    width: 75px;
    height:60px;
    background-color: #FFFFFF;
}

#css7{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 350px;
    left: 180px;
}
#asa{
    position: absolute;
    top: 4px;
    left: 7px;
}
#css6{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 350px;
    left: 30px;
}
#css5{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 250px;
    left: 180px;
}
#css4{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 250px;
    left: 30px;
}
#cscs111{
    position: absolute;
    top: 530px;
    left: 335px;
    color: #6c757d;
}
#cscs222{
    position: absolute;
    top: 525px;
    left: 285px;
}
#css2{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 150px;
    left: 30px;
}
#css3{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 150px;
    left: 180px;
}
#css{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 30px;
}
#css1{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 180px;
}
#kk{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 130px;
    top: 13px;

}

#bb{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 228px;
    top: 8px;
}
#cc{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 518px;
    top: 10px;
}
#dd{
    width:80px;
    height: 45px;
    position: absolute;
    left: 590px;

    background-color: #0066CC;
}
#ee{
    width:80px;
    height: 45px;
    position: absolute;
    left: 670px;

    background-color: #000000;
}
#ff{
    width: 55px;
    height: 43px;
    position: absolute;
    left: 750px;


    border: 1px solid #5a6268;
}
#hh{
    width: 75px;
    height: 43px;
    position: absolute;
    left: 1189px;

    border: 1px solid #5a6268;
}
#ww{
    width: 75px;
    height: 43px;
    position: absolute;
    left: 1265px;

    border: 1px solid #5a6268;
}
#aa{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 50px;
    top: 6px;
}
#aaa{
    font-size: 30px;
    font-weight:16;
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    top: -5px;
}
#kkk{
    position: absolute;
    left: -5px;
    top: -6px;

}
#bbb{
    font-size: 20px;
    font-weight:20;
    text-decoration: none;
    color: #FFFFFF;

}
#ccc{
    font-size: 15px;
    font-weight:20;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #C6A300;
    border-radius: 100px;
}
#ddd{
    text-decoration: none;
    color: #FFFFFF;

    border-radius: 100px;
}
#ddd2{
    position: absolute;
    left: 35px;
    top: 10px;
}
#ddd1{
    position: absolute;
    left: 13px;
    top: 10px;
    width: 13px;
    height: 22px;
    background-color: beige;
    color: #0066CC;
    border-radius: 100px;
}
#eee2{
    position: absolute;
    left: 35px;
    top: 10px;
    color: #5a6268;
}
#eee1{
    position: absolute;
    left: 12px;
    top: 10px;
    width: 13px;
    height: 22px;

    color: #5a6268;
    border-radius: 300px;
    border: 1px solid #5a6268;
}
#fff{
    position: absolute;
    left: 16px;
    top: 5px;
    width: 13px;
    height: 22px;
    text-decoration: none;
    color: #FFFFFF;

}
#www{
    position: absolute;
    left: 15px;
    top: 10px;

    text-decoration: none;
    color: #FFFFFF;

}
#hhh1{
    position: absolute;
    left: 7px;
    top: 10px;

    text-decoration: none;
    color: #95999c;

}
#hhh2{
    position: absolute;
    left: 42px;
    top: 10px;

    text-decoration: none;
    color: #5a6268;

}
#quanye{
    width: 100%;
    height: 1400px;
    background-color: #343a40;
}
img:hover {
    transform: scale(0.9);
}
.pointer{

    cursor: pointer;


}
#textt{
    position: absolute;
    left: 782px;
    top: 70px;
    color: #FFFFFF;
    width: 265px;
    height: 300px;
    background-color: #0066CC;
}
#texttt{
    position: absolute;
    left: 992px;
    top: -5px;
}
#texttt1{
    position: absolute;
    left: 1022px;
    top: -5px;
}
#texttt2{
    position: absolute;
    left: 992px;
    top: 45px;
}
#texttt22{
    position: absolute;
    left: 1022px;
    top: 45px;
}
#textt1{
    position: absolute;
    left: 782px;
    top: 70px;
    color: #FFFFFF;
    width: 265px;
    height: 300px;
    background-color: #0066CC;
}
#tex11{
    position: absolute;
    left: 50px;
    top: 70px;
    height: 35px;

}
#tex111{
    position: absolute;
    left: 70px;
    top: 250px;
    width: 60px;
    height: 40px;
}
#tex{
    position: absolute;
    left: 50px;
    top: 70px;
    height: 35px;
}
#tex1{
    position: absolute;
    left: 50px;
    top: 120px;
    height: 35px;
}
#tex1111{
    position: absolute;
    left: 80px;
    top: 200px;
    width: 60px;
    height: 40px;
}
#tex11111{
    position: absolute;
    left: 80px;
    top: 250px;
    width: 60px;
    height: 40px;
}
#shanchu1{
    position: absolute;
    left: 150px;
    top: 250px;
    width: 60px;
    height: 40px;
}
#shanchu12{
    position: absolute;
    left: 140px;
    top: 200px;
    width: 60px;
    height: 40px;
}
#shanchu13{
    position: absolute;
    left: 140px;
    top: 250px;
    width: 60px;
    height: 40px;
}